# Normaliza EOL no repo
* text=auto eol=lf

# JS / TS
*.js   text eol=lf
*.jsx  text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf

# JSON / YAML / MD
*.json text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.md   text eol=lf

# PowerShell (Windows)
*.ps1 text eol=crlf
