# deps
node_modules/
backend/node_modules/

# build
build/

# secrets
secrets/
_secrets/
backend/_secrets/
backend/.tmp_serviceAccount.json

# logs
logs/
backend/logs/

# backups
*.bak_*
*.bak
.tmp_*

backend/.env.local


# backups
*.bak
*.bak2

