.filtros-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 0px 0;
  flex-wrap: wrap;
}

.filtros-container select {
  background-color: #000;
  color: #FFD700;
  border: 2px solid #FFD700;
  border-radius: 8px;
  padding: 8px 12px;
  font-size:16px;
  font-weight: bold;
}
