.tabela-container {
  width: 90%;
  margin: 0 auto;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #FFD700;
  border-radius: 10px;
  font-family: sans-serif;
}

.tabela-cabecalho {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: yellow;
  border-bottom: 1px solid yellow;
  padding: 8px;
}

.linha-ranking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
  padding: 6px;
  color: white;
}

.ranking-img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}
