.grafico-container {
  width: 100%;
  max-width: 700px;
  margin: 40px auto 0;
  padding: 20px;
  border: 2px solid gold;
  border-radius: 16px;
  background-color: #111;
  box-shadow: 0 0 25px gold;
}

.recharts-wrapper {
  margin: auto;
}

.recharts-cartesian-axis-tick text {
  fill: white;
  font-size: 12px;
  font-weight: bold;
}

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line {
  stroke: gold;
}

.recharts-bar-rectangle {
  stroke: #ffd700;
  stroke-width: 1;
}
